@font-face {
  font-family: "Helvetica Neue";
  src: url("../helvetica-neue-bold.0e3df193.ttf");
}
@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../helvetica-neue-light.442273e0.otf");
}
@font-face {
  font-family: "Yu Gothic Semilight";
  src: url("../Yu Gothic UI - Semilight.6f10fabf.ttf");
}
@font-face {
  font-family: "HelveticaNeue Medium";
  src: url("../HelveticaNeue Medium.5a4ba165.ttf");
}
@font-face {
  font-family: "Yu Gothic Light";
  src: url("../yugothil.d6bf6d47.ttf");
}
@font-face {
  font-family: "Kozuka Gothic Pr6N";
  src: url("../KozGoPr6NRegular.838c24e4.otf");
}
@font-face {
  font-family: "SofiaProBlackCondensed";
  src: url("../SofiaProBlackCondensed.671e7f92.ttf");
}
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  margin: auto !important;
}
body {
  margin: auto !important;
  color: #13223D;
}
.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 114px;
  padding-left: 57px;
  padding-right: 65px;
}
.main__header .header__navigation {
  position: relative;
  left: 444px;
}
.main__header .header__navigation ul {
  display: flex;
  list-style: none;
  gap: 32.5px;
  text-transform: uppercase;
}
.main__header .header__navigation ul li {
  font-family: "Helvetica Neue Light";
}
.main__header .header__navigation ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.name {
  margin-bottom: 80.8px;
  font-family: "Helvetica Neue";
  color: #13223D;
  display: flex;
}
.name #name {
  font-size: 63px;
  font-weight: 600;
  margin-left: 119.1px;
  margin-top: 141.7px;
}
.name div {
  font-size: 24px;
  margin-top: 182.6px;
  margin-left: 91.6px;
  letter-spacing: 20px;
}
.orangeline {
  height: 30.32px;
  width: 701.86px;
  top: 234.4px;
  background-color: #fe881c;
  position: relative;
  left: 0px;
  z-index: -1;
}
#name2 {
  margin-bottom: 35.5px;
  margin-left: 123.2px;
  font-size: 24px;
  color: #13223D;
}
section {
  color: #13223D;
  font-weight: 300;
}
section hr {
  width: 800px;
  margin-bottom: 46.1px;
}
section .img-container {
  position: relative;
}
section img {
  width: 1276.77px;
  height: 430.94px;
  position: absolute;
  margin-left: 123.2px;
  filter: #8E919E;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
section h2 {
  font-size: 41px;
  font-weight: bold;
  font-family: "Helvetica Neue";
}
section p {
  font-size: 24px;
  width: 600px;
  letter-spacing: 2.5px;
  line-height: 40px;
}
section h3 {
  font-size: 24px;
  margin-bottom: 29.6px;
  font-weight: 400;
}
section span {
  font-size: 24px;
  letter-spacing: 7px;
  margin-left: 10px;
}
section .grayline {
  height: 426.56px;
  width: 1017.36px;
  position: absolute;
  top: 80px;
  left: 0;
  background-color: #8E919E;
  opacity: 30%;
  position: relative;
  z-index: -1;
}
section .container {
  margin-top: 220.5px;
}
section .col {
  margin-bottom: 156px;
}
section .right {
  width: 200px;
  margin-left: 80.2px;
}
section .left {
  margin-right: 40px;
}
.moveup {
  display: flex;
  justify-content: flex-end;
}
.moveup .ip__icon {
  width: 38.62px;
  height: 38.62px;
  top: -5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #13223D;
  border-radius: 50%;
  margin-right: 70px;
  margin-bottom: 31.6px;
}
.moveup .ip__icon svg {
  transform: rotate(270deg);
  width: 10.68px;
  height: 15.546px;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(298deg) brightness(108%) contrast(101%);
}
footer {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #13223D;
  border-bottom: 1px solid #13223D;
  font-size: 17px;
  width: 1300.64px;
  margin-left: 89px;
}
footer .main__header {
  padding-left: 1rem;
}
footer .main__header .header__navigation {
  left: 0;
}
.end {
  margin-left: 85px;
  margin-top: 47.6px;
  margin-bottom: 49.4px;
}
.end p {
  margin-left: 66px;
  font-size: 16px;
}
.end a {
  margin-left: 66px;
  font-size: 63px;
  line-height: 40px;
  font-weight: 600;
  border-bottom: 1px solid #13223D;
}
.end .foottag li {
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #13223D;
  border-radius: 50%;
  width: 92.6px;
  height: 92.6px;
  margin-left: 37.1px;
}
.nav-burger {
  margin-top: 20px;
}
aside {
  z-index: 11;
}
.aside-section {
  top: 0;
  bottom: 0;
  position: absolute;
}
.aside-left {
  display: none;
  width: 53%;
  height: 100vh;
  left: 0;
  position: fixed;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
  background-image: url("../creative.ec4f8c3e.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.aside-left .aside-content {
  width: 65%;
  top: 168px;
}
.aside-left .aside-content h1 {
  font-size: 50px;
  font-family: "SofiaProBlackCondensed";
  color: #fff;
  display: flex;
  flex-direction: column;
  letter-spacing: 54px;
}
.aside-left .aside-content h1 .new {
  margin-right: 235px;
}
.aside-left .aside-content h1 .natural {
  margin-left: 112px;
}
.aside-left .aside-content h1 span:not(:last-child) {
  margin-bottom: 30px;
}
.aside-right {
  display: flex;
  justify-content: center;
  gap: 75px;
  width: 47%;
  height: 100vh;
  position: fixed;
  right: 0;
  background-color: #fff;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}
.aside-right ul {
  margin-bottom: 10px;
}
.aside-right ul li {
  font-family: "SofiaProBlackCondensed";
  text-transform: uppercase;
}
.aside-right .col-right {
  display: flex;
  flex-direction: column;
}
.aside-right .col-right .footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 42px;
}
.aside-right .col-right .footer .end {
  margin-bottom: 49.4px;
}
.aside-right .col-right .footer .footer__company__name {
  align-self: center;
}
.aside-right .col-right .footer .footer__company__name p {
  font-weight: 500;
  color: #909090;
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
}
.aside-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 150px;
  text-align: left;
  padding-left: 50px;
}
.aside-list li a {
  color: #000 !important;
}
.aside-content {
  margin-top: 150px;
  padding: 0 40px;
  position: relative;
  color: white;
  text-align: center;
}
.aside-content img {
  position: absolute;
  left: 37px;
  bottom: 132px;
}
.aside-list li {
  margin-bottom: 20px;
}
.aside-anchor::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 3px;
}
.aside-anchor::before {
  border-radius: 3px;
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  left: 0;
  height: 3px;
  z-index: 1;
  width: 50%;
  -webkit-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
.aside-anchor:hover:before {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.aside-anchor {
  padding-bottom: 7px;
  color: #13223D;
  text-decoration: none;
  font-size: 50px;
  position: relative;
  font-weight: 500;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked ~ aside .aside-left {
  transform: translateY(0%);
}
input[type=checkbox]:checked ~ aside .aside-right {
  transform: translateX(0%);
}
input[type=checkbox]:checked ~ label .bar {
  background-color: #38618c;
}
input[type=checkbox]:checked ~ label .top {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  -moz-transform: translateY(0px) rotateZ(45deg);
  -ms-transform: translateY(0px) rotateZ(45deg);
  -o-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}
input[type=checkbox]:checked ~ label .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}
input[type=checkbox]:checked ~ label .middle {
  width: 0;
}
.middle {
  margin: 0 auto;
}
label {
  top: 10px;
  right: 0;
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  z-index: 12;
  position: fixed;
}
.bar {
  display: block;
  background-color: #38618c;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  margin: 5px auto;
  transition: background-color 0.4s ease-in, transform 0.4s ease-in, width 0.4s ease-in;
}
p {
  font-size: 30px;
}
.button {
  display: inline-block;
  background-image: none;
  border: none;
  background-color: transparent;
  padding-bottom: 7px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  color: white;
  padding: 7px 50px;
  border: 2px solid white;
}
@media (min-width: 992px) {
  h1 {
    font-size: 40px;
  }

  .aside-left {
    display: block;
  }

  .aside-right {
    width: 60%;
  }
}
.aside-list > li:hover {
  animation: bounce;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-min-pixel-ratio: 3) {
  footer {
    width: 100%;
    justify-content: unset;
    margin-left: unset;
  }

  footer > .main__header > .header__navigation {
    display: block;
  }

  footer .main__header {
    height: unset;
  }

  .main__header .header__navigation ul {
    display: grid;
    gap: unset;
    grid-template-columns: 1fr 1fr;
    row-gap: 52px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .end {
    flex-direction: column;
    margin-left: unset;
    gap: 20px;
  }

  .end p {
    margin-left: 17px;
    margin-bottom: 62px;
  }

  .end a {
    margin-left: 17px;
  }

  .foottag {
    margin-top: 35px;
  }

  .footer__company__name p {
    display: none;
  }

  .nav-burger-foottag {
    display: none;
  }

  aside .aside-right {
    width: 100vh;
  }

  nav.header__navigation {
    display: none;
  }

  section img {
    width: 87%;
    height: unset;
    left: -74px;
  }

  section .grayline {
    width: 83%;
    height: 131.625px;
  }

  .orangeline {
    width: 90%;
    top: 83.4px;
  }

  aside .aside-right {
    width: 100vh;
  }

  .form-group {
    margin-left: 2px;
  }
  .form-group hr {
    width: unset;
  }
  .form-group p {
    width: unset;
  }

  .info__tit1 {
    font-weight: bold;
  }

  .info__detail {
    font-weight: 500;
  }

  section p {
    width: unset;
    font-size: 20px;
  }

  .name #name {
    margin-left: unset;
    margin-top: unset;
    font-size: 34px;
    margin-top: 26px;
  }

  .name div {
    font-size: 24px;
    margin-top: 39px;
    margin-left: 8.6px;
    letter-spacing: 20px;
  }

  section span {
    font-size: 20px;
    letter-spacing: 2px;
  }

  .row__container {
    flex-direction: column;
  }

  section .right {
    margin-left: unset;
    margin-bottom: 57px;
  }

  .aside-right .col-right {
    opacity: 0;
  }
}
/*# sourceMappingURL=access.675966b6.css.map */
